{% extends 'article/base.html' %}

{% block title %}{{article.title}} - وبلاگ لاگ اردبیل{% endblock %}

{% block main %}
	<article>
		<a href="{% url 'article:article' article.slug %}">{{article.title}}</a>
		{% if article.image %}
			<div>
				<img src="{{article.image.url}}" alt="{{article.title}}">
			</div>
		{% endif %}
		<p>{{article.content}}</p>
		<p>{{article.fullname}}</p>
	</article>
{% endblock %}