<!DOCTYPE html>
<html dir="rtl">
<head>
	<title>{% block title %}وبلاگ لاگ اردبیل{% endblock %}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style type="text/css">
		body {
			direction: rtl;
			text-align: right;
		}
	</style>
</head>
<body>
	<header>
		<h1><a href="{% url 'article:home' %}">Home</a></h1>
		<nav>
			<ul>
				{% for category in categories %}
					<li><a href="{% url 'article:category' category.slug %}">{{category.name}}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</header>
	<main class="container">
		{% block main %}

		{% endblock %}
	</main>
</body>
</html>