{% extends 'article/base.html' %}

{% block title %}دسته‌ی {{category.name}} - وبلاگ لاگ اردبیل{% endblock %}

{% block main %}
	<h2>{{category.name}}</h2>
	{% for article in articles %}
		<article>
			<a href="{% url 'article:article' article.slug %}">{{article.title}}</a>
			<p>{{article.summary}}</p>
		</article>
	{% endfor %}
{% endblock %}