{% extends 'article/base.html' %}


{% block main %}
	{% for article in articles %}
		<article>
			<a href="{% url 'article:article' article.slug %}">{{article.title}}</a>
			<p>{{article.summary}}</p>
		</article>
	{% endfor %}
{% endblock %}